<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <title>Snout Labs</title>
</head>

<body>
    <header class="sticky-header">
        <img src="\static\favicon.png" alt="snout labs icon">
        
        <nav>
            <h1> SNOUT LABS / projects</h1>
            <ul class="horizontal-list">
                <li><a class ="mid" href="{{ url_for('home') }}">Home</a></li>
                <li><a class ="mid" href="{{ url_for('projects') }}">Projects</a></li>
                <li><a class ="mid" href="{{ url_for('about') }}">About</a></li>
            </ul>
        </nav>
        
    </header>
        
    <main>
        <div style="height: 140px;"></div>
        <h2>Projects :</h2>
        <div style="height: 20px;"></div>
        <p>Soon list of projects here ! kekw</p>

    </main>
    
    <footer>
        <p> - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
        <p>Snout Labs 2024 | create with chat gpt and a little me</p>
    </footer>
</body>
